@import 'reset.css';
@font-face {
    font-family: 'Fantasque Sans Mono' ;
    font-style: normal;
    font-weight: bold;
    src: local('Fantasque Sans Mono'),
    url("/font/fantasquesansmono-bold.woff") format('woff'),
    url("/font/fantasquesansmono-bold.woff2") format('woff2');
}
@font-face {
    font-family: 'Fantasque Sans Mono' ;
    font-style: Italic;
    font-weight: bold;
    src: local('Fantasque Sans Mono'),
    url("/font/fantasquesansmono-bolditalic.woff2") format('woff2'),
    url("/font/fantasquesansmono-bolditalic.woff") format('woff');
}
@font-face {
    font-family: 'Fantasque Sans Mono' ;
    src: local('Fantasque Sans Mono'),
    url("/stylesheets/font/fantasquesansmono-regular.woff2") format('woff2'),
    url("/stylesheets/font/fantasquesansmono-regular.woff") format('woff');
    font-style:  normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Fantasque Sans Mono' ;
    src: local('Fantasque Sans Mono'),
    url("font/fantasquesansmono-italic.woff2") format('woff2'),
    url("font/fantasquesansmono-italic.woff") format('woff');
    font-style: italic;
    font-weight: normal;
}
body {
    font-family: "Fantasque Sans Mono";
    width: 1440px;
    margin: 0 auto;
    background-color: #1E2021;
}
/* Шрифты базовые */
h1 {
    font-family: 'Fantasque Sans Mono';
    font-weight: normal;
    font-style: normal;
    font-size: 56px;
    line-height: 57px;
    color: white;
    margin-left: 30px;
    margin-top: 40px;
}
h2 {
    font-family: 'Fantasque Sans Mono';
    font-weight: normal;
    font-style: normal;
    font-size: 100px;
    line-height: 102px;
    color: white;
    margin-left: 30px;
    margin-top: 40px;
}
h4 {
    font-size: 24px;
    font-weight: normal ;
    color: white;
    line-height: 25px;
    margin-top: 20px;
    margin-left: 30px;
}
h5 {
    font-size: 20px;
    font-weight: normal;
    line-height: 21px;
    color: #BCBCBC ;
    margin-top: 12px;
    margin-left: 30px;
}
p {
    font-size: 36px;
    line-height: 37px;
    font-weight: normal;
    color: white;
    margin-top: 40px;
    margin-left: 30px;
}
.grey_text {
    font-size: 20px;
    font-weight: normal;
    line-height: 21px;
    color: #8D8D8D ;
    margin-top: 12px;
    margin-left: 30px;
}
.icon_text {
    font-size: 20px;
    font-weight: normal;
    line-height: 21px;
    color: #BCBCBC ;
    margin-left: 0px;
    margin-top: 10px;
}
a {
    text-decoration: underline;
    color: white;
    font-size:24px ;
}
hr {
    margin-left:30px ;
    margin-right: 30px;
    margin-top: 13px;
    background-color: #ffffff;
}
/* Повторяющиеся элементы в каждом окне */
.window_top_dots {
    height: 16px;
    margin-top: 14px;
    margin-right: 30px;
}
.window_top {
    width: 100%;
    height: 44px;
    background-color: #303030 ;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.icon_img {
    height: 117px;
}
/* Первая секция  */
.first {
    position: relative;
    width: 100%;
    height: 700px;
}
.firsts_bg {
    position: absolute;
    width: 100%;
    margin-top: 80px;
}
.firsts_image_icon_1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 136px;
    margin-left: 480px;
}
.firsts_image_icon_2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 136px;
    margin-left: 685px;
}
.firsts_hello_system {
    position: absolute;
    width: 900px;
    height: 339px;
    background-color: #424242;
    border-radius: 5px;
    margin-top: 390px;
    margin-left: 330px;
    z-index: 500;
}
.firsts_hello_system_back1 {
    position: absolute;
    width: 900px;
    height: 339px;
    background-color: #373838;
    border-radius: 5px;
    margin-top: 355px;
    margin-left: 300px;
    z-index: 200;
}
.firsts_hello_system_back2 {
    position: absolute;
    width: 900px;
    height: 339px;
    background-color: #373838;
    border-radius: 5px;
    margin-top: 315px;
    margin-left: 350px;
    z-index: 0;
}
.firsts_AI_voice {
    position: absolute;
    width: 340px;
    height: 270px;
    background-color: #373838;
    border-radius: 5px;
    margin-top: 210px;
    margin-left: 100px;
    z-index: 400;
}
.firsts_AI_voice_img {
    width: 340px;
    margin-top: 15px;
}
.firsts_AI_circel {
    margin-left: 1050px;
    margin-top: 70px;
}
/* Вторая секция */
.secondS {
    position: relative;
    width: 100%;
    height: 920px;
}
.secondS_bg {
    position: absolute;
    width: 100%;
    margin-top: 170px;
}
.secondS_AI_my_task {
    position: absolute;
    width: 630px;
    height: 260px;
    background-color: #424242;
    border-radius: 5px;
    margin-top: 470px;
    margin-left: 80px;
    z-index: 200;
}
.secondS_AI_me {
    position: absolute;
    width: 340px;
    height: 190px;
    background-color: #424242;
    border-radius: 5px;
    margin-top: 645px;
    margin-left: 600px;
    z-index: 1000;
}
.secondS_hello_system_AI {
    position: absolute;
    width: 550px;
    height: 270px;
    background-color: #424242;
    border-radius: 5px;
    margin-top: 250px;
    margin-left: 200px;
    z-index: 100;
}
.secondS_AI_img {
    position: absolute;
    height: 500px;
    width: 440px;
    background-color: #424242;
    border-radius: 5px;
    margin-top: 375px;
    margin-left: 845px;
    z-index: 500;
}
.section2_me_arrow {
    height: 40px;
    position: absolute;
    margin-left: 165px;
    margin-top: 5px;
}
.section2_AI_image {
    position: absolute;
    height: 378px;
    margin-top: 40px;
    margin-left: 30px;
}
/* Третья секция */
.thirdS {
    position: relative;
    width: 100%;
    height: 900px;
}
.thirdS_bg {
    position: absolute;
    width: 100%;
    margin-top: 460px;
}
.thirdS_authour {
    position: absolute;
    height: 300px;
    width: 760px;
    background-color: #424242;
    border-radius: 5px;
    margin-top: 165px;
    margin-left: 120px;
    z-index: 100;
}
.thirdS_authour h4 {
    margin-top: 40px;
}
.thirdS_authour h1 {
    margin-top: 0px;
}
.authour_flex img {
    position: absolute;
    width: 70px;
    height: 70px;
    margin-top: -75px;
    margin-left: 660px;
}
.thirdS_description {
    position: absolute;
    width: 760px;
    height: 220px;
    background-color: #424242;
    border-radius: 5px;
    margin-top: 425px;
    margin-left: 75px;
    z-index: 200;
}
.thirdS_AI_img {
    position: absolute;
    width: 373px;
    height: 236px;
    background-color: #424242;
    border-radius: 5px;
    margin-top: 620px;
    margin-left: 610px;
    z-index: 300;
}
.thirdS_AI {
    margin-top: -20px;
    width: 226px;
}
.thirdS_arrow {
    position: absolute;
    width: 85px;
    margin-top: 50px;
}
.thirdS_font {
    position: absolute;
    width: 405px;
    height: 275px;
    background-color: #424242;
    border-radius: 5px;
    margin-left: 955px;
    overflow: hidden;
}
/* Четвертая секция   */
.fourthS {
    position: relative;
    width: 100%;
    height: 3600px;
}
.fourthS_bg {
    position: absolute;
    width: 100%;
    margin-top: 130px;
}
.fourthS_image_icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 185px;
}
.fourthS_select {
    position: absolute;
    width: 409px;
    height: 350px;
    margin-left: 100px;
    margin-top: 140px;
    z-index: 1000;
}
.fourthS_features {
    position: absolute;
    width: 652px;
    height: 301px;
    background-color: #424242;
    border-radius: 5px;
    overflow: hidden;
}
.fourthS_explane {
    position: absolute;
    background-color: #424242;
    width: 642px;
    height: 285px;
    margin-left: 167px;
    margin-top: 365px;
    z-index: 1000;
}
.fourthS_bg_AI_voice {
    position: absolute;
    background-color: #424242;
    width: 1280px;
    height: 834px;
    margin-left: 80px;
    margin-top: 690px;
    z-index: 0;
    opacity: 0.7;
}
.fourthS_element_1 {
    position: absolute;
    background-color: #424242;
    width: 759px;
    height: 301px;
    margin-left: 265px;
    margin-top: 775px;
    z-index: 1000;
}
.fourthS_element_3 {
    position: absolute;
    background-color: #424242;
    width: 759px;
    height: 430px;
    margin-left: 1000px;
    margin-top: 1000px;
    z-index: 700;
    overflow: hidden;
}
.fourthS_element_2 {
    position: absolute;
    background-color: #424242;
    width: 460px;
    height: 215px;
    margin-left: 700px;
    margin-top: 1260px;
    z-index: 1700;
    overflow: hidden;
}
.fourthS_element_4 {
    position: absolute;
    background-color: #424242;
    width: 1034px;
    height: 430px;
    margin-left: 200px;
    margin-top: 1455px;
    z-index: 1000;
    overflow: hidden;
}
.fourthS_loading_window {
    position: absolute;
    background-color: #424242;
    width: 759px;
    height: 1047px;
    margin-left: 80px;
    margin-top: 1790px;
    z-index: 10;
    opacity: 0.7;
}
.fourthS_element_5 {
    position: absolute;
    background-color: #424242;
    width: 642px;
    height: 250px;
    margin-left: 700px;
    margin-top: 2100px;
    z-index: 700;
}
/* Секция 5.  Блок с предупреждением */
.fifthS {
    width: 100%;
    position: relative;
    height: 268px;
}
.fifthS_error_1 {
    display: block;
    height: 102px;
    width: 100%;
}
